@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body {
    background-color: rgb(7, 31, 59);
}

h1 {
    text-align: center;
    font-family: Montserrat;
    color: white;
}

.header {
    background-image: url(img/banner.png);
    padding: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: x-large;
    text-shadow: 2px 2px #000000;
}
.header2 {
    background-image: url(img/banner.png);
    padding: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: x-large;
    text-shadow: 2px 2px #000000;
}


.body {
    color:white;
    font-size:xx-large;
    text-align:center;
    font-family:Roboto;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 360px;
    background-color: black;
    font-family: Roboto;
    border-radius: 15px;
}
  
  div.gallery:hover {
    border: 1px solid rgb(255, 255, 255);
}
  
  div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
  
  div.desc {
    padding: 15px;
    text-align: center;
    color:white;
}
  div.desc:h2 {
      color:white;
      font-family:Montserrat;
  }

.content {
    color:white;
    font-family: Montserrat;
    text-align: center;
    padding: 50px;
}

h2{
    color:white;
    font-family: 'Montserrat', sans-serif;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: maroon;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 2px solid peachpuff;
  }
  
  .button2 {
    background-color: white;
    color: black;
    border: 2px solid #ff0000;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }